In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
df = pd.read_csv("dataset/weight-height.csv")
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [8]:
std_scaler = StandardScaler()
label_enc = LabelEncoder()

df.iloc[:, :-1] = std_scaler.fit_transform(df.iloc[:, :-1])
df.Gender = label_enc.fit_transform(df.Gender)

In [9]:
df

      Gender    Height      Weight
0          1  1.944061  241.893563
1          1  0.627537  162.310473
2          1  2.012443  212.740856
3          1  1.394060  220.042470
4          1  0.913421  206.349801
...      ...       ...         ...
9995       0 -0.050660  136.777454
9996       0  0.181839  170.867906
9997       0 -0.649688  128.475319
9998       0  0.693125  163.852461
9999       0 -1.149708  113.649103

[10000 rows x 3 columns]

In [10]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]
x

      Gender    Height
0          1  1.944061
1          1  0.627537
2          1  2.012443
3          1  1.394060
4          1  0.913421
...      ...       ...
9995       0 -0.050660
9996       0  0.181839
9997       0 -0.649688
9998       0  0.693125
9999       0 -1.149708

[10000 rows x 2 columns]

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((6700, 2), (3300, 2), (6700,), (3300,))

In [12]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(X_train, y_train)

In [13]:
testing = model.score(X_test, y_test)
print(f"Scorring {testing}")

Scorring 0.9026995879363117

### Cross Validation

In [14]:
from sklearn.model_selection import cross_val_score
import numpy as np

In [15]:
linear = LinearRegression()

cv_Scores = cross_val_score(linear, x, y, cv=5)

print(cv_Scores)
print('cv_scores mean:{}'.format(np.mean(cv_Scores)))

[0.7343759  0.74877434 0.90390385 0.72649349 0.71490427]
cv_scores mean:0.7656903695872332

In [16]:
import joblib

In [17]:
joblib.dump((model, std_scaler), "model_joblib/model_data_fix.pkl")

['model_joblib/model_data_fix.pkl']

In [19]:
std_scaler

StandardScaler()