In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset/weight-height.csv")
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
x = df.drop(columns="Gender")
y = df.Gender
y

0         Male
1         Male
2         Male
3         Male
4         Male
         ...
9995    Female
9996    Female
9997    Female
9998    Female
9999    Female
Name: Gender, Length: 10000, dtype: object

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=15)

X_train

         Height      Weight
1385  70.505927  206.440942
5963  67.632128  164.867605
5213  61.979935  119.910846
4979  65.142314  171.616710
5333  61.722079  107.224707
...         ...         ...
6528  63.676097  122.344655
2693  67.087552  176.417239
8076  64.216972  154.446605
3829  72.758054  211.749664
7624  64.630200  155.220814

[6700 rows x 2 columns]

In [14]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)

KNeighborsClassifier()

In [15]:
predic = model.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
print(accuracy_score(predic, y_test))

0.9054545454545454

### Cross Validation model

In [17]:
from sklearn.model_selection import cross_val_score
import numpy as np

In [18]:
knn_cross = KNeighborsClassifier(n_neighbors=3)

cv_Scores = cross_val_score(knn_cross, x, y, cv=6)

print(cv_Scores)
print('cv_scores mean:{}'.format(np.mean(cv_Scores)))

[0.9010198  0.910018   0.895021   0.895021   0.90636255 0.90756303]
cv_scores mean:0.902500892378547

#### Hyperparameter Tuning

In [19]:
from sklearn.model_selection import GridSearchCV

In [21]:
leaf_size = list(range(1,50))
n_neighbors = range(1, 49, 2)
p=[1,2]

hyperparameters = dict(leaf_size=leaf_size, n_neighbors=n_neighbors, p=p)
knn_2 = KNeighborsClassifier()
clf = GridSearchCV(knn_2, hyperparameters, cv=3, n_jobs=-1, verbose=1 )
best_model = clf.fit(x,y)
print('Best leaf_size:', best_model.best_estimator_.get_params()['leaf_size'])
print('Best p:', best_model.best_estimator_.get_params()['p'])
print('Best n_neighbors:', best_model.best_estimator_.get_params()['n_neighbors'])

Fitting 3 folds for each of 2352 candidates, totalling 7056 fits